---
import type { Character } from './cypherCharacter';

interface Props {
  character: Readonly<Character>;
}

const { character } = Astro.props;
---

<div class="flex flex-col md:flex-row w-full text-center gap-1">
  <div class="column">
    <div class="p-2 overflow-auto">
      <h3>특수 능력</h3>
      <ul class="flex flex-col gap-1 text-left">
        {
          character.specialAbilities.map((specialAbility) => (
            <li class="text-xs w-full">
              <h4 class="text-sm inline font-semibold">
                {specialAbility.title}
              </h4>{' '}
              {specialAbility.description}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="p-2">
      <h3>사이퍼</h3>
      <p class="text-xs italic">
        사이퍼는 일회용 아이템입니다. 사용하고 나면 시트에서 사선을 그으십시오.
        걱정하지 마세요, 새로운 걸 더 찾게 될 겁니다.
      </p>
      <ul class="flex flex-col gap-2 text-left">
        {
          character.cyphers.map((cypher) => (
            <li class="text-xs">
              <h4 class="text-sm inline font-semibold">{cypher.title}</h4>{' '}
              {cypher.description}{' '}
              <label class="whitespace-nowrap">
                사용
                <input
                  type="checkbox"
                  class="checkbox checkbox-primary align-bottom"
                />
              </label>
            </li>
          ))
        }
      </ul>
      <p class="text-right">
        제한 {character.cyphers.filter((c) => c.used === false).length} / {
          character.cypherLimit
        }
      </p>
    </div>
  </div>
  <div class="column justify-between">
    <div class="flex flex-col justify-center gap-1 text-2xl">
      <div class="text-4xl">{character.name}</div>
      <div>{character.statement.descriptor} {character.statement.type}이며</div>
      <div>{character.statement.focus}</div>
      <div>
        {
          character.background
            .split('\n')
            .map((line) => <p class="text-xs text-left p-1 m-0">{line}</p>)
        }
      </div>
    </div>
    <ul class="flex flex-row justify-between p-1 gap-1">
      <li class="w-1/3 flex flex-col align-middle gap-2 border-red-400 border-2">
        <label class="flex flex-col text-xs w-24 h-24 p-2">
          <h4>힘</h4>
          <input
            type="number"
            class="w-16 text-4xl text-center"
            min="0"
            max={character.stats.might.pool}
            value={character.stats.might.current}
          />
        </label>
        <div class="flex flex-row gap-1">
          <label class="flex flex-col text-xs w-10 h-10">
            <h5 class="m-0">역량</h5>
            <input
              type="number"
              class="w-8 text-sm text-center"
              min="0"
              value={character.stats.might.pool}
            />
          </label>
          <label class="flex flex-col text-xs w-10 h-10">
            <h5 class="m-0">재능</h5>
            <input
              type="number"
              class="w-8 text-sm text-center"
              min="0"
              value={character.stats.might.edge}
            />
          </label>
        </div>
      </li>
      <li class="w-1/3 flex flex-col align-middle gap-2 border-yellow-400 border-2">
        <label class="flex flex-col text-xs w-24 h-24 p-2">
          <h4>속력</h4>
          <input
            type="number"
            class="w-16 text-4xl text-center"
            min="0"
            max={character.stats.speed.pool}
            value={character.stats.speed.current}
          />
        </label>
        <div class="flex flex-row gap-1">
          <label class="flex flex-col text-xs w-10 h-10">
            <h5 class="m-0">역량</h5>
            <input
              type="number"
              class="w-8 text-sm text-center"
              min="0"
              value={character.stats.speed.pool}
            />
          </label>
          <label class="flex flex-col text-xs w-10 h-10">
            <h5 class="m-0">재능</h5>
            <input
              type="number"
              class="w-8 text-sm text-center"
              min="0"
              value={character.stats.speed.edge}
            />
          </label>
        </div>
      </li>
      <li class="w-1/3 flex flex-col align-middle gap-2 border-blue-400 border-2">
        <label class="flex flex-col text-xs w-24 h-24 p-2">
          <h4>지성</h4>
          <input
            type="number"
            class="w-16 text-4xl text-center"
            min="0"
            max={character.stats.intellect.pool}
            value={character.stats.intellect.current}
          />
        </label>
        <div class="flex flex-row gap-1">
          <label class="flex flex-col text-xs w-10 h-10">
            <h5 class="m-0">역량</h5>
            <input
              type="number"
              class="w-8 text-sm text-center"
              min="0"
              value={character.stats.intellect.pool}
            />
          </label>
          <label class="flex flex-col text-xs w-10 h-10">
            <h5 class="m-0">재능</h5>
            <input
              type="number"
              class="w-8 text-sm text-center"
              min="0"
              value={character.stats.intellect.edge}
            />
          </label>
        </div>
      </li>
    </ul>
    <div class="px-2 pb-2">
      <div class="flex flex-row justify-between">
        <label class="flex flex-col text-xs w-16 h-14 p-1">
          <span>등급</span>
          <input type="number" class="w-8 text-2xl" min="1" max="6" value="1" />
        </label>
        <label class="flex flex-col text-xs w-16 h-14 p-1">
          <span>분발</span>
          <input
            type="number"
            class="w-8 text-2xl text-center"
            min="1"
            max="6"
            value="1"
          />
        </label>
        <label class="flex flex-col text-xs w-16 h-14 p-1">
          <span>경험치</span>
          <input
            type="number"
            class="w-12 text-2xl"
            min="0"
            max="16"
            value="0"
          />
        </label>
      </div>
      <h3 class="text-base mt-0 mb-0">회복</h3>
      <ul class="flex flex-row justify-between px-2">
        <li>
          <label class="flex flex-col text-xs">
            <span>행동 하나</span>
            <input type="checkbox" />
          </label>
        </li>
        <li>
          <label class="flex flex-col text-xs">
            <span>10 분</span>
            <input type="checkbox" />
          </label>
        </li>
        <li>
          <label class="flex flex-col text-xs">
            <span>1시간</span>
            <input type="checkbox" />
          </label>
        </li>
        <li>
          <label class="flex flex-col text-xs">
            <span>10시간</span>
            <input type="checkbox" />
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="p-2">
      <h3>기능/무능</h3>
      <div class="flex flex-row justify-between gap-2">
        <ul class="flex flex-col w-1/2 gap-1">
          {
            character.skills
              .filter((skill) => skill.level !== 'inability')
              .map((skill) => (
                <li class="text-xs flex flex-row justify-between w-full">
                  <div>{skill.title}</div>
                  <div class="text-green-700">
                    ({skill.level === 'trained' ? '익숙' : '능숙'})
                  </div>
                </li>
              ))
          }
        </ul>
        <ul class="flex flex-col w-1/2 gap-1">
          {
            character.skills
              .filter((skill) => skill.level === 'inability')
              .map((skill) => (
                <li class="text-xs flex flex-row justify-between w-full">
                  <div>{skill.title}</div>
                  <div class="text-red-500">(무능)</div>
                </li>
              ))
          }
        </ul>
      </div>
    </div>
    <div class="p-2">
      <h3>장비</h3>
      <ul class="flex flex-col gap-1 text-left">
        {
          character.equipments.map((equipment) => (
            <li class="text-xs w-full">
              <h4 class="text-xs inline font-normal">{equipment.title}</h4>{' '}
              {equipment.description}
            </li>
          ))
        }
      </ul>
      <label class="w-full">
        <input
          type="number"
          value={character.shins}
          class="w-16 text-right"
        />쉰
      </label>
    </div>
    <div class="p-2">
      <h3>공격</h3>
      <p class="text-xs italic text-left">
        공격을 하고 지근거리를 하나의 행동으로 움직일 수 있습니다.
      </p>
      <ul class="flex flex-col gap-2 text-left">
        {
          character.attacks.map((attack) => (
            <li class="text-xs w-full">
              <h4 class="text-sm inline font-semibold">{attack.title}</h4>{' '}
              {attack.modifier !== 0 ? `(난이도 ${attack.modifier})` : null}{' '}
              {attack.damage} 피해. {attack.description}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<style>
  .column {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-family: 'Pretendard';
    justify-content: space-between;
    border-width: 2px;
    --tw-border-opacity: 0.3;
    border-color: hsl(var(--pc) / var(--tw-border-opacity));
  }

  @media (min-width: 1024px) {
    .column {
      width: 33.333333%;
      max-width: 100%;
      height: 44rem;
    }
  }
</style>
